#search-toggle {
    margin-top: 1em;
    margin-bottom: .5em;  
}

#search-container {
    margin-top: 1em;
    
    form {
        width: auto;
    }
    
    input {
        width: 14em;
    }
}

