/* Table of Contents
====================
- General HTML elements
-- Text
--- Headings
--- Links
- Neatline exhibit etyling
-- Simile timeline 
-- Waypoints
-- Help 
- Item browse/search/view
-- Item browse/search
--- Search container
-- Item view
--- File view
- Simple pages
*/

/* - General HTML elements - */

html{
 height: 100%;   
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  ::selection {
    background: $red;
    color: #fff;
  }
}

.clear {
    clear:both;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    background: $almost-white;
    overflow-y: scroll;
    height: 100%;
    
    p {
    max-width: 75%;
    }
}

.container {
    position: relative;
    min-height: 100%;
}

#header {
  height: 50px;
  width: 100%;
}

.nav {
  background-color: #ca3838;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  z-index: 7000;
  @include box-shadow(0px, 3px, 8px, rgba(0, 0, 0, 0.25)); 
  width: 100%;
  max-height: 50px;
  padding: 5px 0px;
    
  img {
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
  }
  h1 {
    display: inline;
    color: white;
    padding: 0px 12px;
    font-size: 1.8em;
    margin: 0px;
    font-weight: 400;
  }
  a {
    color: white;
    font-size: 1.25em;
    font-weight: 400;
  }
  ul {
    padding: 5px 15px 5px 5px;
    margin: 0px;
    float: right;
  }
  li {
    display: inline;
    padding: 0px 8px;
  }
}

#primary {
    padding-bottom: 125px;   
}

 #footer {
     height: 125px;
     position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    clear: both;
     padding-bottom: 15px;
     
    img {
      float: left;
      //margin-left: 20px;
      max-width: initial;
       max-height: initial;
    }
     .adr{
     float: right;
     display: inline-block;
     padding-top: 5px;
     padding-bottom: 5px;
     margin: 0 50px 0px 0;
     }
     
}

/* -- Text -- */

body {
    font-family: "Roboto Condensed";
    font-size: 1em;
    font-weight: 300;
    
}

.fa {
  font-size: 14px;
}

strong {
    font-weight: 400; 
}

/* --- Headings --- */

h1 {
  font-family: "Roboto Condensed";
}

h2 {
  font-weight: 400;
  display: inline-block;
}

h3 {
  display: block;
  font-size: 1.125em;
  line-height: 1.125em;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

/* --- Links --- */

a {
  text-decoration: none;
  color: $red;
  &:hover {
    text-decoration: underline;
  }
}

.fa-external-link:before,
.fa-globe:before {
  color: $red;
}

/* - Neatline exhibit styling - */

body.neatline.show {
    
    padding: 0;
    
	div.exhibit {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	right: auto;
		#neatline, #neatline-map {
            height: 100%;
          }
        
        /* Open Layers Map Controls */

#OpenLayers_Control_PanZoom_2 {
  top: 54px !important;
}

.olControlLayerSwitcher {
  .maximizeDiv, .minimizeDiv {
    display: none;
  }
}

#neatline.Waypoints.Simile .olControlLayerSwitcher {
  right: 0;
}
	}
}

/*Pop-up bubble styling */ 

#static-bubble img {
  max-width: 40%;
}

#static-bubble {
    &.bound, &.selected {
    overflow-y: auto;
    position: absolute;
    background: $almost-white;
    @include border-radius(2px);
    color: #000;
    padding: 1em;
    max-height: 75%;
    width: 50%;
    max-width: 400px;
    right: 1.5em;
    left: auto;
    top: 4em;
    font-size: 1em;
    z-index: 500;
    opacity: 1;
    @include box-shadow(0px, 3px, 8px, rgba(0, 0, 0, 0.25));
    .content {
        display: block;
        margin-top: .5em;
        } 
    }
    .title {
        display: inline;
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1em;
        }
    .smaller_text {
        font-size: .9em;
        }
    a.close {
        font-size: 2em;
        line-height: .8em;
        }
    hr, &.selected hr {
        display: none !important;
        }
    .item-file {
        display: inline;
        .thumb {
        max-width: 40% !important;
        display: inline;
        }
    }
    
    
}




/* --- Simile Timeline ---  */ 

/* Positioning and Styling Simile Timeline */

#neatline {
  #simile, &.Waypoints.Simile #simile {
    height: 100px;
    width: 40%;
    bottom: 10px;
    right: 10px;
    left: auto;
    opacity: 1;
    @include box-shadow(0px, 3px, 8px, rgba(0, 0, 0, 0.25));
    z-index: 998;
    border-bottom: 5px solid black;
    cursor: url(/themes/neatlight/images/grab.ico);
    cursor: -webkit-grab;
    cursor: -moz-grab !important;
    cursor: grab;
      &:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
    }
  }
}

.timeline-band-layer-inner:active {
  cursor: url(/themes/neatlight/images/grabbing.ico);
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing !important;
  cursor: grabbing;
}

#simile *::selection,
#simile::selection {
    background: rgba(0,0,0,0);
    color: #000;
}

/*body {
  &.neatline.show .timeline-band {
    position: absolute;
    background: #eee;
    z-index: 10;
    top: 0px;
    height: 100px;
    left: -1216px;
    width: 3055px;
  }
}*/


/* Styling selection marker in timeline -- before is rectangle, after is arrow*/

#simile {
  &:before {
    content: '';
    /*border-left: 3px dashed #FF0000;*/
    z-index: 999;
    position: absolute;
    height: 50%;
    left: 49%;
    top: 1;
    width: 10px;
    background-color: #4C8DCF;
    border: none;
  }
  &:after {
    content: '';
    opacity: 1;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #4C8DCF;
    position: absolute;
    left: 49%;
    top: 50%;
  }
}

/* --- Waypoints --- */

/* -- Waypoints -- */

#neatline.Waypoints.Simile #waypoints {
  background-color: $red;
  position: absolute;
  left: 10px;
  height: auto;
  width: 200px;
  bottom: 15px;
  right: auto;
  top: auto;
  @include border-radius(10px);
  opacity: 1;
  @include box-shadow(0px, 3px, 8px, rgba(0, 0, 0, 0.25));
     a {
      cursor: default;
      list-style: none;
      color: #fff;
      text-decoration: none;
      
    &.title {
      padding: .5em 1em;
      line-height: 1.4em;
      font-weight: 500;
      text-align: center;
      &.highlighted {
        background-color: inherit;
        color: #fff;
      }
    }
    &.body {
      padding: 0 1em;
      display: list-item;
      line-height: 1em;
      font-weight: 300;
      font-size: .7em;
    }
  }
    p {
        margin-top: 0;
    }
}

/* --- Help --- */

#darken {
  background: #000000;
  opacity: .7;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  cursor: url(/themes/neatlight/images/close.png), auto;
}

#help_screen {
    & div {
        display: none;
        background-color: #4C8DCF;
        position: absolute;
        cursor: url(/themes/neatlight/images/close.png), auto;
        z-index: 9999;
        @include border-radius(10px);
        @include box-shadow(0px, 3px, 8px, rgba(0, 0, 0, 0.25));
        }
    & p{
        color: white;
        padding: 0px 12px;
        font-size: 1em;
        }
    & a{
        color: white;
        text-decoration: underline;
        }
}
.welcome {
    top: 3.5em;
    right: 1.5em;
    max-width: 25%;
    max-height: 25%;
    }
.help1 {
    top: 15%;
    left: 10%;
    right: auto;
    width: 80%;
    max-height: 80%;
    padding-bottom: 5px;
        p {
           max-width: 100%;
        }
    }
.help2 {
    bottom: 10px;
    margin-left: 10px;
    right: 10px;
    min-width: 50%;
    min-height: 120px;
    padding-bottom: 5px;
    img {
        max-height: 100px;
        float: right;
        margin: auto 10px 10px 10px;
        }
    p {
        max-width: 100%;
        }
    }

/* -- Item browse & search pages --*/

body.search, body.items.browse {
    h3 a {
        color: black;
        
        &:hover {
         color: $red;  
        }
    }
    
  img {
    max-height: 100px;
    max-width: 100px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .hentry, td, tr {
    max-width: 25%;
    min-width: 400px;
    height: 150px;
    display: inline;
    float: left;
    padding-right: 1em;
  }

  &.items.browse input[type=text], &.search input[type=text] {
    font-size: 11pt;
  }
  
}

    /* Sorting and tags */
    
    #sort-links {
        margin-top: 10px;
        width: 100%;
    }

    #tags {
        display: inline-block;
        float: right;
        a {
            margin-left: 5px;
            padding: 0 3px;
                &.current {
                    background: $red;
                    color: $almost-white;
                    @include border-radius(2px);
                }
        }
    }


    #sort-links-list {
        margin-top: 0px;
        display: inline-block;
        padding-left: 0;

    li {
        list-style-type: none;
        display: inline;
        margin-left: 5px;
        padding: 0 3px;
         &.desc {
            background-color: $red;
             @include border-radius(2px);
             a {
            color: $almost-white;
             }
                :before {
                    content: "\f175  ";
                    font-family: FontAwesome;
                    color: $almost-white;
                    font-size: 14px;
                    }
             }
        &.asc {
            background-color: $red;
             @include border-radius(2px);
             a {
            color: $almost-white;
             }
                :before {
                    content: "\f176  ";
                    font-family: FontAwesome;
                    color: $almost-white;
                    font-size: 14px;
                    }
             }
    }

}

/* --- Search container --- */

#search-container {
  float: right;
  margin-top: 1.75em;
  display: none;
  padding: 3px;
  border: none;
  form {
    display: inline;
    float: right;
    width: 300px;
    @include border-radius(5px);
    padding: 1px;
  }
  input {
    margin: 0;
    width: 18em;
    padding-left: 5px;
    &[type=text] {
      padding-right: 2em;
      height: 2.2em;
      border: 1px solid #ccc;
    }
  }
  button {
    color: $red;
    border: none;
    float: right;
    cursor: pointer;
    width: 2em;
    height: 2em;
    background: $red;
    overflow: hidden;
    &::after {
      content: "\f002";
      font-family: FontAwesome;
      font-size: 14px;
      color: #f4f4f4;
      position: relative;
      top: -.1em;
      //right: 2.85em;
    }
  }
}

body.search #search-container {
  display: inline;
}


/* Search toggle button */
#search-toggle {
  float: right;
  display: inline;
  margin-top: 2em;
  padding: 4px 1px 1px 1px;
  cursor: pointer;
  color: $red;
  text-align: center;
  height: 2em;
  width: 1.5em;
  font-size: 14px;
  .fa::before {
    position: relative;
    right: .75em;
    top: .55em;
  }
}

/* Collapse search button */
#collapse-search {
  display: inline;
  color: $red;
  height: 2em;
  padding-right: 5px;
  .fa {
    padding-top: 5px;
  }
}


/* -- Item show pages --*/

body.items.show {
  #creator {
    font-weight: 500;
  }
    #sources {
    display: none;
  }
    .collapse, .expand {
    width: auto;
    display: inline;
    color: $red;
  }
    .collapse:hover, .expand:hover {
    cursor: pointer;
    }
    #item-images div {
        display: inline;
        max-width: 40%;
        }
    li {
        display: inline
    }
    
    img {
        padding: 10px 10px 0 0;
    }
    
    #metadata {
        max-width: 75%;
    }
}



/* --- File show pages ---*/

body.files.show img {
 padding: 10px 0px;   
}

/* -- Simple pages --*/



#panzoom img {
   height: auto; 
    width: auto; 
    max-width: 800px; 
    max-height: 800px;
}

.panzoom-buttons {
    position: absolute;
    bottom: 0px;
    //background: $red;
    background: $transparent-red;
    margin: 5px 0 10px 5px;
    padding: 2px;
   // width: 215px;
    button {
    background: none;
    border: none;
    color: $almost-white;
    font-size: 14px;
        &:focus {
            background-color: none;
            outline: none;
        }
        &::after {
            background: none;
        }
    }
    .zoom-in {
    &::after {
    content: "\f00e  ";
    font-family: FontAwesome;
    }
    }
    .zoom-out {
    &::after {
    content: "\f010  ";
    font-family: FontAwesome;
    }
    }
    .reset {
    &::after {
    content: "\f021  ";
    font-family: FontAwesome;
    }
    }
}

//styling for draggable zoom slider 
input[type=range] {
  -webkit-appearance: none;
  height: 12px;
  width: 120px;
  background: none;
    padding: 0;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0.9px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #d3d3d3;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
  margin-bottom: 1.9px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 12px;
  width: 12px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d3d3d3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0.9px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #d3d3d3;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
    margin-bottom: -3px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #d3d3d3;
    border-radius: 0px;
}
input[type=range]::-ms-fill-upper {
    background: #d3d3d3;
    border-radius: 0px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
}
input[type=range]:focus::-ms-fill-lower {
    background: #d3d3d3;
}
input[type=range]:focus::-ms-fill-upper {
    background: #d3d3d3;
}