#search-toggle {
    margin-top: 1em;
    margin-bottom: .5em;  
}

#search-container {
    margin-top: 1em;
    
    form {
        width: auto;
    }
    
    input {
        width: 14em;
    }
}

#metadata {
    width: 100%;
}

.help1 {
    max-height: 60%;
    overflow-y: scroll;
}

.help2 {

}

