
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

#word-line
  position fixed
  z-index 2
  pointer-events none
  top 0
  left 0

  svg
    position fixed
    top 0
    left 0

    line
      stroke $link-color

    circle
      fill $link-color
