
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

#wms-loader

  position fixed
  padding 1em
  right 1em
  bottom 1em

  blue-container()
  border-radius 3px

  .three-quarters

    border 2px solid $link-color
    border-right-color transparent
    margin-right 0.4em
    width 10px
    height 10px
