
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

#zoom

  position fixed
  left $text-width + 20
  top 20px

  .btn

    display block
    height 40px
    width 40px
    margin-bottom 20px
    line-height 35px
    border-radius 2px
    padding 0

    blue-container()
    font-family Georgia
    font-size 35px
    text-align center

    &:hover
      color $link-color
