
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

body
  font-family "Source Sans Pro"
  margin 0

#navigation
  position fixed
  left 40px
  bottom 40px
  background-color rgba(30,30,30,0.9)
  color white
  padding 1em
  font-size 14px
  font-weight 200
  border-radius 2px

  h1
    margin 0 0 5px 0
    font-weight 300
    font-size 3em

  span.dot
    margin 0 0.4em

  a
    color white

#nprogress

  .bar
    background white
    height 8px

  .peg
    box-shadow 0 0 10px white, 0 0 5px white
