
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

*

  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;

  box-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box

.container
  padding 0
  background #1C2330
  width auto
