
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

div.narrative

  position absolute
  left 30px
  top 0
  padding 1.4em

  background $overlay-color
  color white

  white-space nowrap
  font-family Raleway
  font-size 10px
  font-weight 100

  .title
    display inline-block
    margin 0
    font-weight 700

  .stanza
    margin-top 1em

  [data-neatline-slug]
    padding 0
    background transparent

    &.highlighted, &.selected
      border-bottom 1px solid white
      font-weight bold

  a
    font-weight bold
    color white

    &:hover
      text-decoration none
      border-bottom 1px solid white
      color white
