
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

#slider

  position absolute
  background $overlay-color
  left 50%
  bottom 30px
  margin-left -35%
  width 70%
  border-radius 3px
  box-shadow none

  .noUi-handle
    cursor ew-resize

  .noUi-origin
    box-shadow none
