
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

#spinner

  position fixed
  line-height 0
  top 20px
  right 100px

  font-size 120px
  color $overlay-color
  opacity 0.4
