
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

#toast-container

  right 100px
  top 30px
  font-family Raleway

  > .toast-info

    background-image none !important // Toastr started it.
    box-shadow none
    background-color $title-color
    padding 10px
    width 240px
    border-radius 2px

    .text
      margin-left 5px
