
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

#zoom

  position fixed
  top 30px
  right 30px

  .btn

    display block
    width 40px
    height 40px
    margin-bottom 20px
    padding 0
    line-height 40px
    border-radius 2px
    font-size 20px
    text-align center

    background $overlay-color
    color white

    &:hover
      background $title-color

    &:active
      box-shadow 0 0 5px $title-color, 0 0 5px $title-color
