
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300")
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400")

@import "bootstrap/dist/css/bootstrap.css"
@import "nprogress/nprogress.css"
@import "Boxer/jquery.fs.boxer.css"

$textWidth  = 400px
$border     = 1px solid darken(white, 10%)
$linkColor  = #06799f

*
  box-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box

  ::selection
    background $linkColor
    color white

body

  color #111
  font-size 14px
  margin 0

  background darken(white, 0.5%)
  font-family "Roboto Condensed"
  font-weight 300

  a, a:visited

    color $linkColor
    font-weight 400

div.container

  width auto
  margin 0
  padding 0

div.exhibit

  float left
  width 65%

  background-image url("images/paper.png")

  #neatline, #neatline-map
    height 100%
    width 100%

div.narrative

  float right
  overflow-y scroll
  width $textWidth
  padding 2em

  background darken(white, 2%)
  border-left $border

  div.header
    margin-bottom 1em
    text-align center

  h1
    margin 0
    font-family "Oswald"
    font-size 34px
    line-height normal
    font-weight 300

  h2, h3
    margin 0

  h2.nicolay-head
    margin-bottom 8px
    font-size 24px

  h3.nicolay-date
    font-size 18px

  p
    line-height 21px
    margin 1em 0

    &.byline
      margin-top 0.5em

  a.boxer
    display block
    margin 1em 0

    img
      border $border

  blockquote

    font-size inherit
    padding 0 20px

    &.transcription
      margin-top 0.5em

    small
      font-size 12px
      color lighten(black, 20%)

  span.line
    display block

  [data-neatline-slug]

    background transparent
    padding 0

    &.highlighted
      background #feffd3

    &.selected
      background $linkColor

ul.nav.nav-pills

  background darken(white, 2%)
  padding 1.2em 0

  li
    display inline-block
    float none

    a
      border-radius 3px
      padding 5px 7px

    &.active a
      background-color $linkColor

  &.affix

    right 0
    top 0

    width $textWidth
    padding 1em 2em
    opacity 0.9

    border-bottom $border
    border-left $border

    box-shadow 0 5px 10px -5px gray

ol.sources
  margin 1em 0
  padding 0 4em 0 2em

  li
    margin 1em 0

#nprogress

  .bar
    background $linkColor
    height 3px

  .peg
    box-shadow 0 0 10px $linkColor, 0 0 5px $linkColor

#word-line
  position fixed
  pointer-events none
  top 0
  left 0

  svg
    position fixed
    top 0
    left 0

    line
      stroke black
      stroke-dasharray 2,2
