
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


// FONTS
@import url("//fonts.googleapis.com/css?family=Raleway:100,700")

// ICONS
fa = "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
@import url(fa);

// VARS
$overlay-color = rgba(100, 110, 120, 0.85)
$title-color = #173d5e

@import "nprogress/nprogress.css"
@import "bootstrap/dist/css/bootstrap.css"
@import "nouislider/jquery.nouislider.css"
@import "toastr/toastr.css"
@import "includes/*"
