
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


@import url("http://fonts.googleapis.com/css?family=EB+Garamond")
$highlight = #0087e4

body
  font-family "EB Garamond"
  margin 0

#navigation
  position fixed
  font-size 12px
  top 10px
  right 15px

  a
    text-decoration none
    color $highlight

    &:hover
      text-decoration underline
