
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

@import url("http://fonts.googleapis.com/css?family=EB+Garamond")

body
  font-family "EB Garamond"
  margin 0

#neatline-narrative
  width 600px
  font-size 20px
  text-align center
  position fixed
  bottom 20px
  margin-left -300px
  left 50%

  p
    margin 0

  span
    background transparent
    padding 0

    &.highlighted, &.selected
      color #9e0000

  .instructions
    font-size 0.8em
    color lighten(black, 70%)

#navigation
  position fixed
  font-size 12px
  top 5px
  right 10px

  a
    color #9e0000
